.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.bs-header {
  padding: 100px 15px 0px; /* side padding builds on .container 15px, so 30px */
  font-size: 16px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  color: #cdbfe3;
  background-color: #563d7c;
  background-image: url(../images/header.png);
}
.bs-header a {
  color: #fff;
  font-weight: normal;
}
.bs-header h1 {
  color: #fff;
}
.bs-header p {
  font-weight: 200;
  line-height: 1.4;
}
.bs-header .container {
  position: relative;
}

@media (min-width: 768px) {
  .bs-header {
    font-size: 30px;
    text-align: left;
  }
  .bs-header h1 {
    font-size: 100px;
    line-height: 1;
  }
}

@media (min-width: 992px) {
  .bs-header p {
    margin-right: 25%;
  }
}